$font-color: #414141;
$font-color2: #eee;
$highlight-color: #20CAAE;
$bg-color: #E5E5E5;
$bg-box-color: #fff;


// 'Mixin for Drop Shadow on Cards'
@mixin cardShadow($h: 2px, $v: 3px, $b:15px, $brand-color: rgba(0, 0, 0, .25)) {
    -webkit-box-shadow: $h $v $b $brand-color;
    -moz-box-shadow: $h $v $b $brand-color;
    box-shadow: $h $v $b $brand-color;
}

// 'Mixin for Drop Shadow on Posters'
@mixin posterShadow($h: 2px, $v: 5px, $b:30px, $brand-color: rgba(0, 0, 0, .25)) {
    -webkit-box-shadow: $h $v $b $brand-color;
    -moz-box-shadow: $h $v $b $brand-color;
    box-shadow: $h $v $b $brand-color;
}


/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

.popup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  
    // display: none;
    &__headline {
        padding-bottom: 1em;
        font-size: 1.4em;
        grid-column: 1/4;
        justify-self: center;

    }

    &__img {
        margin: 1em 1em;
     
    }

    &__fig-img {
        display: inline-block;
    grid: 2/2;
    margin: 1em 1em;
    width: 20vw;
    }

    &-contact {
       width: 20vw;
        grid: 3/4;
    }

    &-contact__input {
        display: inline-block;
        font-size: 1.2em;
        line-height: 2rem;
        padding: 0.5em 1em;
        width: 99%;
        border-width: 0 0 1px;
        border-style: solid;
    }

    &-contact__label {
        font-size: 1em;
        font-style: normal;
    }

    &-contact__btn {
        grid-column: 1/2;
        margin: 1em auto;
        font-size: 1em;
        width: 10em;
        height: 2em;
        border: 0.1em solid green;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;

    }
}