$font-color: #414141;
$font-color2: #EEEEEE;
$highlight-color: #20CAAE;
$bg-color: #E5E5E5;
$bg-box-color: #FFFFFF;



// 'Mixin for Drop Shadow on Cards'
@mixin cardShadow($h: 2px, $v: 3px, $b:15px, $brand-color: rgba(0, 0, 0, .25)) {
    -webkit-box-shadow: $h $v $b $brand-color;
    -moz-box-shadow: $h $v $b $brand-color;
    box-shadow: $h $v $b $brand-color;
}

// 'Mixin for Drop Shadow on Posters'
@mixin posterShadow($h: 2px, $v: 5px, $b:30px, $brand-color: rgba(0, 0, 0, .25)) {
    -webkit-box-shadow: $h $v $b $brand-color;
    -moz-box-shadow: $h $v $b $brand-color;
    box-shadow: $h $v $b $brand-color;
}

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $bg-color;
    overflow-x: hidden; 
}
  .header {
      &__strip {
        position: relative;
        z-index: 101;
        width: 100%;
        background-color: $bg-box-color;
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        &-dropdown {
            color: $font-color;
            text-decoration: none;
            align-self: center;
            justify-self: center;
        }
        &-logo {
            width: 120px;
            justify-self: center;
        }
        &-mobile-tab {
            display: flex;
            align-self: center;
            align-items: center;
            justify-self: center;
            cursor: pointer;
            &-container {
                display: inline-block;
                transform: rotateY(180deg);
                &-lines {
                    display: block;
                    height: 2px;
                    margin: 0.2em 0;
                    background-color: $font-color;
                    &:nth-child(1) {
                        width: 20px;
                    }
                    &:nth-child(2) {
                        width: 10px;
                    }
                    &:nth-child(3) {
                        width: 15px;
                    }
                }
            }
            &-line {
                display: inline-block;
                height: 30px;
                width: 2px;
                margin: 0 1em;
                background-color: $font-color;
            }
            &-text {
                display: inline-block;
            }
        }
      }
  }

  .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
      .header-strip-item {
            position: relative;
            display: inline-block;
        &:hover .header__list{
            display: block;
        }
      }
    .header__dropdown {
        position: absolute;
        left: 0;
        right: 0;
        background-color: $bg-box-color;
        padding: 0  1em;
        box-shadow: 0 15px 10px 2px rgba(0,0,0,0.25);
        .header__list {
            padding: 1.8em 0;
            // text-align: center;
            display: none;
            .header__list-link {
                text-decoration: none;
                color: $font-color;
            }
        }
    }
  }

  .header__nav {
      transform: translateX(100%);
      transition: transform 200ms ease-in-out;
      width: 20%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: $bg-box-color;
      height: 100%;
      z-index: 101;
      @include posterShadow();
      &-arrow {
          display: block;
          margin: 1em;
          padding: 1em;
          cursor: pointer;
      }
      &-logo {
          display: block;
          width: 120px;
          margin: 2em auto;
      }
      &-menu {
          margin-top: 2em;
          &-item {
              list-style-type: none;
              padding: 1em 0;
              text-align: center;
              &:nth-child(even) {
              }
                :hover > &-dropdown{
                    display: block;
                }
              &-link {
                  color: $font-color;
                  text-decoration: none;

              }
              &-dropdown {
                display: none;
                &-item {
                    list-style-type: none;
                    padding: 1em 0;
                    text-align: center;
                    background-color: #ececec;
                    &-link {
                        color: $font-color;
                        text-decoration: none;
                    }
                }
              }
          }
      }
  }
.section {
    height: 550px;
    overflow: hidden;
    &__video {
        width: 100%;
    }
    &__article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        height: 800px;
        margin: 20px;
        margin-top: 40px;
        &-fig {
            @include posterShadow();
            width: 100%;
            background-color: $bg-box-color;
            img {
                width: 100%;
                object-fit: cover;
            }
            &-figcap {
                width: 100%;
                padding: 15px;
                color: $font-color;
                h3 {
                    margin: 15px;
                }
            }
        }
    }
}

.content__article {
    @include posterShadow();
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    margin-top: 40px;
    &-figcap {
        width: 100%;
        padding: 30px;
        background-color: $bg-box-color;
        color: $font-color;
        h3 {
            margin: 15px;
        }
    }
    img {
        width: 100%;
    }
}

.slider {
    position: relative;
    &__arrow-left {
        position: absolute;
        top: 50%;
        left: 2em;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.85);
        transform: translateY(-50%);
        z-index: 100;
        cursor: pointer;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__arrow-right {
        position: absolute;
        top: 50%;
        right: 2em;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.85);
        transform: translateY(-50%);
        z-index: 100;
        cursor: pointer;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__container {
        display: flex;
        transition: transform 600ms ease-in-out;
    }
    &__box {
        margin: 1em;
        flex-shrink: 0;
        position: relative;
        min-height: 500px;
        max-height: 500px;
        width: 31.7%;
        @include cardShadow();
        &:nth-child(1) {
            @include linear-gradient(#a341d1, #c93ac9);
        }
        &:nth-child(2) {
            @include linear-gradient(#1ed66b, #1dbb6c);
        }
        &:nth-child(3) {
            @include linear-gradient(#cf201d, #dd1815);
        }
        &:nth-child(4) {
            @include linear-gradient(#3989b8, #165f8a);
        }
        &:nth-child(5) {
            @include linear-gradient(#8650eb, #7433ec);
        }
    }
    &__fig {
        @include posterShadow();
        position: absolute;
        top: 4em;
        left: 2em;
        width: 50%;
        
    }
    &__img {
        display: block;
        width: 100%;
    }

    &__text-container {
        position: absolute;
        left: 58%;
        top: 4em;
        margin-right: 2em;
    }
    &__hearts {
        margin: 1em .8em 1em 0;
        :nth-child(1) {
            color: $highlight-color;
        }
        :nth-child(2) {
            color: $highlight-color;
        }
        :nth-child(3) {
            color: $highlight-color;
        }
        :nth-child(4) {
            color: $font-color2;
        }
        :nth-child(5) {
            color: $font-color2;
        }
    }
    &__header-text {
        color: $font-color2;
    }
    &__text {
        color: $font-color2;
    }
    &__button {
        border: 2px solid $highlight-color;
        background-color: unset;
        padding: 1em;
        margin-top: 4em; 
        width: 100%;
        color: $font-color2;
        border-radius: 3em;
        cursor: pointer;
        font-weight: bold;
    }
}

.main {
    margin: 5em auto 0 auto;
    // width: 90%;
    display: grid;
    grid-template-columns: 20% 1fr;
    &__best-books {
        text-align: center;
    }
    &__best-container {
        text-align: center;
    }
    &__best-text {
        margin: 2em 0 0.2em 0;
    }
    &__best-fig {
        text-align: center;
        width: 100%;
    }
    &__best-img {
        width: 70%;
        cursor: pointer;
        @include posterShadow();
    }
    &__link {
        display: inline-block;
        margin: 0 1em;
        background-color: unset;
        border: none;
        text-decoration: underline;
        cursor: pointer;
    }
    &__sort {
        position: relative;
    }
    &__line {
        position: absolute;
        display: block;
        height: 1px;
        width: 40%;
        left: 10em;
        top: 50%;
        background-color: $font-color;
        opacity: 0.5;
        transform: translateY(-50%);
    }
    &__genre-text {
        margin-right: 50%;
        display: inline-block;
        position: relative;
        text-decoration: underline;
        cursor: pointer;
    }
    &__box {
        margin: 2em;
        position: relative;
        display: inline-block;
        background-color: $bg-box-color;
        width: 40%;
        height: 400px;
        @include cardShadow();
        transition: visibility 0s 200ms, opacity 200ms linear, width 400ms;
    }
    &__fig {
        position: absolute;
        top: 50%;
        left: -3em;;
        transform: translateY(-50%);
        width: 30%;
        @include posterShadow();

    }
    &__img {
        width: 100%;
        display: block;
    }
    &__info-container {
        position: absolute;
        left: 30%;
        top: 3.1em;
        margin: 0 1em;
    }
    &__hearts {
        margin: 1em 0;
    }
    &__button {
        border: 2px solid $highlight-color;
        background-color: unset;
        padding: 1em;
        float: right;
        margin-top: 4em; 
        width: 55%;
        color: $highlight-color;
        border-radius: 3em;
        font-weight: bold;
        cursor: pointer;
    }
    &__hearts {
        :nth-child(1) {
            color: $highlight-color;
        }
        :nth-child(2) {
            color: $highlight-color;
        }
        :nth-child(3) {
            color: $highlight-color;
        }
        :nth-child(4) {
            color: $font-color2;
        }
        :nth-child(5) {
            color: $font-color2;
        }
    }
}


@media only screen and (max-width: 1750px) {
    .slider__box {
        width: 35%;
    }
}
@media only screen and (max-width: 1550px) {
    .slider__box {
        width: 45%;
    }
    .slider__fig {
        width: 40%;
    }
    .slider__text-container {
        left: 50%;
    }
}
@media only screen and (max-width: 1350px) {
    .main {
        display: block;
        &__sort {
            margin: 2em 0;
            text-align: center;
        }
        &__line {
            left: 20%;
        }
        &__box {
            width: 60%;
            margin: 2em auto;
            display: block;
        }
        &__best-container {
            display: inline-block;
        }
    }
}
@media only screen and (max-width: 1250px) {
    .slider__box {
        width: 96%;
    }
    .slider__fig {
        width: 25%;
        top: 50%;
        left: 0.5em;
        transform: translateY(-50%);

    }
    .slider__text-container {
        left: 30%;
    }
    .slider__arrow-left {
        display: none;
    }
    .slider__arrow-right {
        display: none;   
    }

    .main {
        &__genre-text {
            display: block;
            text-align: center;
            margin:  1em 0;
        }
        &__line {
            left: 50%;
            transform: translateX(-50%);
        }
        &__link {
            text-align: center;
        }
        &__box {
            width: 80%;
        }
        &__fig {
            width: 25%;
        }
    }
}
@media only screen and (max-width: 1000px) {
    .main {
        &__best-container {
            width: 30%;
        }
        
        &__fig {
            left: -2em;
            width: 35%;
        }
        &__box {
            height: 46vh;
        }
    }
}

.popup {
    display: grid;
    grid-template-columns: 40% 1fr;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  
    // display: none;
    &__headline {
        padding-bottom: 1em;
        font-weight: 500;
        font-size: 1.4em;
        grid-column: 1/4;
        justify-self: center;
        & span {
            font-weight: bold;
        }
    }

    &__img {
        margin: 1em 1em;
     
    }

    &__fig-img {
        display: inline-block;
    grid: 2/2;
    margin: 1em 1em;
    width: 15vw;
    }

    &-contact {
       width: 20vw;
        grid: 3/4;
    }

    &-contact__input {
        display: inline-block;
        font-size: 1.2em;
        line-height: 2rem;
        padding: 0.5em 0;
        width: 99%;
        border-width: 0 0 1px;
        border-style: solid;
    }

    &-contact__label {
        font-size: 1em;
        font-style: normal;
    }

    &-contact__btn {
        grid-column: 1/2;
        margin: 1em auto;
        font-size: 1em;
        width: 10em;
        height: 2em;
        border: 0.1em solid green;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        cursor: pointer;
    }
    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(195, 195, 195, 0.8);
        z-index: 1002;
    }
    &__close {
        position: absolute;
        top: 0;
        right: 0;
    }
}