* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #E5E5E5;
  overflow-x: hidden;
}

.header__strip {
  position: relative;
  z-index: 101;
  width: 100%;
  background-color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr 20%;
      grid-template-columns: 20% 1fr 20%;
}

.header__strip-dropdown {
  color: #414141;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__strip-logo {
  width: 120px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__strip-mobile-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  cursor: pointer;
}

.header__strip-mobile-tab-container {
  display: inline-block;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header__strip-mobile-tab-container-lines {
  display: block;
  height: 2px;
  margin: 0.2em 0;
  background-color: #414141;
}

.header__strip-mobile-tab-container-lines:nth-child(1) {
  width: 20px;
}

.header__strip-mobile-tab-container-lines:nth-child(2) {
  width: 10px;
}

.header__strip-mobile-tab-container-lines:nth-child(3) {
  width: 15px;
}

.header__strip-mobile-tab-line {
  display: inline-block;
  height: 30px;
  width: 2px;
  margin: 0 1em;
  background-color: #414141;
}

.header__strip-mobile-tab-text {
  display: inline-block;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu .header-strip-item {
  position: relative;
  display: inline-block;
}

.header__menu .header-strip-item:hover .header__list {
  display: block;
}

.header__menu .header__dropdown {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  padding: 0  1em;
  -webkit-box-shadow: 0 15px 10px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 10px 2px rgba(0, 0, 0, 0.25);
}

.header__menu .header__dropdown .header__list {
  padding: 1.8em 0;
  display: none;
}

.header__menu .header__dropdown .header__list .header__list-link {
  text-decoration: none;
  color: #414141;
}

.header__nav {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #FFFFFF;
  height: 100%;
  z-index: 101;
  -webkit-box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.25);
}

.header__nav-arrow {
  display: block;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
}

.header__nav-logo {
  display: block;
  width: 120px;
  margin: 2em auto;
}

.header__nav-menu {
  margin-top: 2em;
}

.header__nav-menu-item {
  list-style-type: none;
  padding: 1em 0;
  text-align: center;
}

:hover > .header__nav-menu-item-dropdown {
  display: block;
}

.header__nav-menu-item-link {
  color: #414141;
  text-decoration: none;
}

.header__nav-menu-item-dropdown {
  display: none;
}

.header__nav-menu-item-dropdown-item {
  list-style-type: none;
  padding: 1em 0;
  text-align: center;
  background-color: #ececec;
}

.header__nav-menu-item-dropdown-item-link {
  color: #414141;
  text-decoration: none;
}

.section {
  height: 550px;
  overflow: hidden;
}

.section__video {
  width: 100%;
}

.section__article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 800px;
  margin: 20px;
  margin-top: 40px;
}

.section__article-fig {
  -webkit-box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: #FFFFFF;
}

.section__article-fig img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__article-fig-figcap {
  width: 100%;
  padding: 15px;
  color: #414141;
}

.section__article-fig-figcap h3 {
  margin: 15px;
}

.content__article {
  -webkit-box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.25);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 20px;
  margin-top: 40px;
}

.content__article-figcap {
  width: 100%;
  padding: 30px;
  background-color: #FFFFFF;
  color: #414141;
}

.content__article-figcap h3 {
  margin: 15px;
}

.content__article img {
  width: 100%;
}

.slider {
  position: relative;
}

.slider__arrow-left {
  position: absolute;
  top: 50%;
  left: 2em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

.slider__arrow-left i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__arrow-right {
  position: absolute;
  top: 50%;
  right: 2em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

.slider__arrow-right i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.slider__box {
  margin: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  min-height: 500px;
  max-height: 500px;
  width: 31.7%;
  -webkit-box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.25);
}

.slider__box:nth-child(1) {
  background: #c93ac9;
  background: -webkit-gradient(linear, left top, left bottom, from(#a341d1), to(#c93ac9));
  background: linear-gradient(#a341d1, #c93ac9);
}

.slider__box:nth-child(2) {
  background: #1dbb6c;
  background: -webkit-gradient(linear, left top, left bottom, from(#1ed66b), to(#1dbb6c));
  background: linear-gradient(#1ed66b, #1dbb6c);
}

.slider__box:nth-child(3) {
  background: #dd1815;
  background: -webkit-gradient(linear, left top, left bottom, from(#cf201d), to(#dd1815));
  background: linear-gradient(#cf201d, #dd1815);
}

.slider__box:nth-child(4) {
  background: #165f8a;
  background: -webkit-gradient(linear, left top, left bottom, from(#3989b8), to(#165f8a));
  background: linear-gradient(#3989b8, #165f8a);
}

.slider__box:nth-child(5) {
  background: #7433ec;
  background: -webkit-gradient(linear, left top, left bottom, from(#8650eb), to(#7433ec));
  background: linear-gradient(#8650eb, #7433ec);
}

.slider__fig {
  -webkit-box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 4em;
  left: 2em;
  width: 50%;
}

.slider__img {
  display: block;
  width: 100%;
}

.slider__text-container {
  position: absolute;
  left: 58%;
  top: 4em;
  margin-right: 2em;
}

.slider__hearts {
  margin: 1em .8em 1em 0;
}

.slider__hearts :nth-child(1) {
  color: #20CAAE;
}

.slider__hearts :nth-child(2) {
  color: #20CAAE;
}

.slider__hearts :nth-child(3) {
  color: #20CAAE;
}

.slider__hearts :nth-child(4) {
  color: #EEEEEE;
}

.slider__hearts :nth-child(5) {
  color: #EEEEEE;
}

.slider__header-text {
  color: #EEEEEE;
}

.slider__text {
  color: #EEEEEE;
}

.slider__button {
  border: 2px solid #20CAAE;
  background-color: unset;
  padding: 1em;
  margin-top: 4em;
  width: 100%;
  color: #EEEEEE;
  border-radius: 3em;
  cursor: pointer;
  font-weight: bold;
}

@media only screen and (max-width: 1750px) {
  .slider__box {
    width: 35%;
  }
}

@media only screen and (max-width: 1550px) {
  .slider__box {
    width: 45%;
  }
  .slider__fig {
    width: 40%;
  }
  .slider__text-container {
    left: 50%;
  }
}

@media only screen and (max-width: 1250px) {
  .slider__box {
    width: 97%;
  }
  .slider__fig {
    width: 25%;
  }
  .slider__text-container {
    left: 30%;
  }
  .slider__arrow-left {
    display: none;
  }
  .slider__arrow-right {
    display: none;
  }
}

.main {
  margin: 5em auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
}

.main__link {
  display: inline-block;
  margin: 0 1em;
  background-color: unset;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.main__sort {
  position: relative;
}

.main__line {
  position: absolute;
  display: block;
  height: 1px;
  width: 40%;
  left: 10em;
  top: 50%;
  background-color: #414141;
  opacity: 0.5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main__genre-text {
  margin-right: 50%;
  display: inline-block;
  position: relative;
}

.main__box {
  margin: 2em;
  position: relative;
  display: inline-block;
  background-color: #FFFFFF;
  width: 40%;
  height: 400px;
  -webkit-transition: visibility 0s 200ms, opacity 200ms linear, width 400ms;
  transition: visibility 0s 200ms, opacity 200ms linear, width 400ms;
}

.main__fig {
  position: absolute;
  top: 50%;
  left: -2em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30%;
}

.main__img {
  width: 100%;
}

.main__info-container {
  position: absolute;
  left: 30%;
  top: 3.1em;
  margin: 0 1em;
}

.main__hearts {
  margin: 1em 0;
}

.main__button {
  border: 2px solid #20CAAE;
  background-color: unset;
  padding: 1em;
  float: right;
  margin-top: 4em;
  width: 55%;
  color: #20CAAE;
  border-radius: 3em;
  font-weight: bold;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */